.mainsection {
  display: grid;
  grid-template-columns: 9fr 2fr;
  margin-top: 75px;
  margin-left: 50px;
  margin-right: 50px;
}
.Lefrcard {
  margin-right: 20px;
  /* margin: 0px 20px; */
  /* background-color: rgb(183, 233, 183); */
}
